<div class="wrapper1">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">List of Status</legend>
        <div class="formData">
            <form [formGroup]="StatusForm" (ngSubmit)="onStatusClick($event, StatusForm)">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <div class="form-group">
                            <label path="name" cssClass="required">Status</label>
                            <input OnlyLetter class="form-control" name="name" formControlName="name" />
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">
                                    Status is Required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary submit">
                                Submit
                            </button>
                            <button type="button" class="btn btn-warning resets" (click)="onReset()">
                                Clear
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</div>

<fieldset class="scheduler-border">
    <legend class="scheduler-border">List of Status</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px" [pagination]="true" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>